
body{
   margin: 0;
   padding: 0;
}

.on, .tw, .tr{

    opacity: 0.3;
    position: absolute;
    z-index: 1;
    border-radius: 45%;
    transform-origin: 50% 40%;
    animation: drift 3000ms infinite linear;
    background-color: rgb(255, 255, 255);
    width: 50rem;
    height: 50rem;
    margin-top: 500px;
    display: none;
}
.on{
    animation: drift 5000ms infinite linear;
    opacity: 0.2;
    z-index: 2;
}
.tw{
    animation: drift 7000ms infinite linear;
    opacity: 0.1;
    z-index: 3;
}
@keyframes drift{
    from{
        transform:rotate(0deg) ;
    }
    from{
        transform:rotate(90deg) ;
    }
    to{
        transform: rotate(120deg);
    }
    to{
        transform: rotate(180deg);
    }
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}
.box img{
    background-size: cover;
    
}
.box2{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 20px;
    justify-content: center;
    flex: 1 2 300px;
    
}
.box1{
    
    background-color: red;
    flex-direction: column;
    z-index: 3;
    margin-top: -50%;
    align-items: center;
    padding: 20px;
    justify-content: center;
    flex: 1 2 300px;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    width: 30%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
}
ul li strong{
    color: red;
}
.minmax{
    display: flex;
}
.gray{
    color: gray;
    font-size: 25px;
}
.info ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
}
.h2 strong{
    color: red;
}